<!DOCTYPE html> 
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>
      You have a new reservation! 
    </h1>
    <p>
      This person has signed up from here and they said this.
    </p>
  </body>
</html>